{% extends "simple.html" %}

{% block content %}
<legend>Project Manage</legend>

<form class="form-horizontal" method="post">
{% csrf_token %}

<table class="table table-condensed">
  <thead>
  <tr>
    <th> </th>
    <th> </th>
    <th> Status </th>        
    <th> Title </th>
    <th> Contact </th>
    <th> Created </th>    
  </tr>
  </thead>

   <tbody>
{% for project in projects %}
  <tr>
    <td> <input id="{{ project.projectid }}" name="selectedprojects" type="checkbox" value="{{ project.projectid }}"></td>
    <td> <a href="/project/profile/{{ project.projectid }}"> view </a> </td>
    <td>  <font 
      {% if project.status == 'approved' %}
        color="green"
      {% elif project.status == 'completed' %}
        color="blue"
      {% elif project.status == 'pending' %}
        color="grey"
      {% elif project.status == 'denied' %}
        color="red"
      {% else %}
        color="black"
      {% endif %}
      >
      {{ project.status|capfirst }}
    </font></td>
    <td>{{ project.title }}</td>    
    <td>{{ project.contact }}</td>
    <td>{{ project.date_created }}</td>    
  </tr>
{% endfor %}
  </tbody>
</table>


<div class="control-group">
  <label class="control-label" for="button_submit"></label>
  <div class="controls">

    {% for state in states %}
        <button id="button_{{ state }}" value="{{ state }}"
            name="button"
            {% if state == 'approved' %}
               class="btn btn-success"
            {% elif state == 'completed' %}
               class="btn btn-primary"
            {% elif state == 'pending' %}
               class="btn btn-default"
            {% elif state == 'denied' %}
               class="btn btn-danger"
            {% else %}
                class="btn"
            {% endif %}
         >{{ state|capfirst }}
    </button>
    {% endfor %}

  </div>
</div>
</form>

{% endblock %}
